*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFE1E7;
}
/* start of menu */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #F22B1A;

}
.open-nav{
    border: 0;
    font-size: 35px;
    background-color:transparent;
    cursor: pointer;
    color: #FFE1E7;
}
.close-nav{
    border: 0;
    font-size: 35px;
    background-color:transparent ;
    cursor: pointer;
    color: #FFE1E7;
}
.logo{
    max-width: 50px;
    display: flex;
}

.nav-list{
    display: flex;
    list-style-type: none;  

}

.nav-list li a{
    text-decoration: none;
    text-wrap: nowrap;
    margin-right: 30px;
    color: #FFE1E7;
    transition: ease .3s;
}
.nav-list li a:hover{
    color: #fafafa;
    border-bottom: white solid 3px;
}
/* end of menu */

/*start parallax */
.parallax{
    width: 100%;
    height: 50%;
    background: url("../IMAGENES/img\ florez.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: calc(25vh - 25px);
    padding-bottom: calc(25vh - 25px);
    margin-bottom: 10px;
}
.parah1{
    background: transparent;
    color: black;
    width: 15%;
    height: 10%;
    margin-left:40% ;
    text-align: center;
    font-size: 4rem;

}
/*end parallax */

/*start cards */
.container-cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #0000;
}
.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #ffff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}
.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: #F22B1A;
    padding: 15px;
    color: #FFE1E7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    box-shadow: 0 5px 10px #0000;
}
.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back p{
    letter-spacing: 1px;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}


/*start footer*/
.footer{
    width: 100%;
    height: 10rem;
    margin-top: 10px;
    display: flex;
    align-items: center;
    background: #F22B1A;
    justify-content: space-evenly;
    color:#FFE1E7 ;
}
.flist{
    font-size: 1.5rem;
    list-style-type: none;
    font-weight: 500;
    text-wrap: wrap;
}
.flist li a{
    text-decoration: none;
    color: #FFE1E7;
}
.socialm a{
    color: #FFE1E7;
    font-size: 3.5rem;
    font-weight: 600;
    margin-left:60px ;
}


@media  screen and (max-width:550px) {
    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 20px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color:#F22B1A;
        padding: 20px;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 10;
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .nav-list{
        flex-direction: column;
        align-items: end;
        gap: 10px;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .socialm{
        font-weight: 400;
        font-size: 2rem;
        margin-left: none;
    }
}
@media  screen and (min-width:550px) {
    .open-nav{
        display: none;
    }
    .close-nav{
        display: none;
    }
}
@media  screen and (max-width:650px){
    .parah1{
        font-size: 2rem;
        margin-left: 30%;
    }
}
@media  screen and (min-width:650px) and (max-width:1200px){
    .parah1{
        font-size: 3rem;
        margin-left: 35%;
    }
}

